body {
    background-color: #1d1b1b;
    font-family: "helvetica neue";
    color: #757E63;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header-container {
text-align: center;
}

#contents-container {
display: flex;
flex-direction: column;
margin-top: 40px;
}

.menu-image {
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-weight: 200;
    font-size: 60px;
    margin: 0%;
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;

    padding: 20px;
    width: 375px;
    align-items: center;
}

.list {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #f5f5f5;
}

#square-img {
    height: 250px;
    width: 300px;
    background-repeat: no-repeat;
    margin-bottom: 25px; 
}

#square-text {
    font-size: 30px;
    color: #757e63;
    font-weight: 100;
}

.hover-image {
    display: block; 
    width: 100%;
    transition: box-shadow 0.3s ease;
}

.hover-image:hover {
    box-shadow: 0 0 5px #fff;
    transform: scale(1.01);
}




