@import url("../../common/css/base.css");

svg {
    /* margin-top: 20px; */
    /* border: #757E63; */
    /* border-width: 1px; */
    /* border-style: solid; */
    color:#e4e9dd
}

image {
    border: #f43307;
    border-width: 1px;
    border-style: solid;
}

#club-filter {
    background-color: #1d1b1b;
    border-color: #757E63;
    color: #757E63;
    font-size: 20px;
    font-weight: 200;
    padding: 2.5px 10px 2.5px 0px;
    border-radius: 4px;
}

#beckham-container {
    justify-content: center;
    margin-left: 5%;
}

#visualisation-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
}

#svg-container {
    width: fit-content;
}

#legend-tooltip {
    margin-top: 37.5px;
}

#legend-container {
    /* display: flex; */
    /* flex-direction: column; */
    margin-left: 20px;
    /* border: 1px solid #757E63; */
    padding: 0px 10px 10px 0px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 200;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    /* font-size: 20px; */
    border: 1px solid #000;
}

.axis path {
    stroke: none;
}

.axis line {
    stroke: red;
}

 .axis .tick {
    display: none;  
}

.axis .domain {
    stroke: none;  
}

.text {
    color:#2256f1
}

.axis text {
    display: none; 
} 

#tooltip {
    margin-left: 20px;
    margin-top: 20px;
    background-color: #1d1b1b;
    border-radius: 4px;
    font-size: 35px;
    font-weight: 200;
    pointer-events: none; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.pitch {
    transition: opacity 0.3s ease-in-out;
}

.goal-path {
    transition: opacity 0.1s ease-in-out;
}